@font-face{
    font-family: 'godo2';
    src:url('../font/NanumSquareRoundR.ttf') format('truetype') 
}
.AboutFrame{
    padding-top: 30px;
    width: 100vw;
    height: 50%;
    background-color:#1f1f1f;
}
.myImage{
    margin: 40px;
    width: 30%;
    margin-left: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
}

.Info{
    
    margin-top: 40px;
    font-family: open-sans;
    color: white;
    
}

.Info_Content{
    font-family: godo;
    margin: 10px;
    font-size: 20px;

    color: rgb(190, 190, 190);

    white-space: pre-line;  
    vertical-align: bottom;
}